<h1>Página de perfil</h1>

<h2>{{logoutError}}</h2>

{{#if email}}

<div>
    <div>Nombre: {{name}}</div>
    <div>Apellido: {{last_name}}</div>
    <div>Correo: {{email}}</div>
</div>

<a href="/logout"> Cerrar Sesión</a>

    {{else}}
    <p>{{message}}</p>

{{/if}}
