<h1>Página de perfil</h1>
{{#if email}}

<div>
    <div>Nombre: {{name}}</div>
    <div>Apellido: {{last_name}}</div>
    <div>Correo: {{email}}</div>
</div>

<button type="button">Cerrar Sesión</button>
    {{else}}
    <p>{{message}}</p>

{{/if}}
